/* =====================================
   SISTEMA DE INVENTÁRIO
   LOGIN ERP PROFISSIONAL
===================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


body {

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #eef2f7;

}


/* Container */

.login-container {

    width: 430px;

    background: #ffffff;

    padding: 45px;

    border-radius: 14px;

    border: 1px solid #e2e8f0;

    box-shadow:
    0 10px 30px rgba(15,23,42,0.12);

}


/* Cabeçalho */

.login-container h1 {

    font-size: 28px;

    color:#0f172a;

    text-align:center;

    font-weight:700;

    margin-bottom:35px;

}


.login-container h1::after {

    content:"";

    display:block;

    width:50px;

    height:4px;

    background:#2563eb;

    margin:15px auto 0;

    border-radius:5px;

}



/* Labels */

.login-container label {

    color:#334155;

    font-size:14px;

    font-weight:600;

    margin-bottom:8px;

    display:block;

}



/* Campos */


.login-container input {


    width:100%;

    height:48px;

    border:1px solid #cbd5e1;

    border-radius:8px;

    padding:0 15px;

    font-size:15px;

    margin-bottom:20px;

    outline:none;

    transition:.2s;

}


.login-container input:hover {

    border-color:#94a3b8;

}


.login-container input:focus {


    border-color:#2563eb;

}



/* Botão */


.login-container button {


    width:100%;

    height:50px;


    background:#1e40af;


    color:white;


    border:none;


    border-radius:8px;


    font-size:16px;


    font-weight:600;


    cursor:pointer;


    transition:.3s;


}


.login-container button:hover {


    background:#1d4ed8;


}



/* Recuperação */


.login-container a {


    display:block;

    text-align:center;


    margin-top:25px;


    color:#2563eb;


    font-size:14px;


    text-decoration:none;


}


.login-container a:hover {

    text-decoration:underline;

}



/* Erro */


.erro {


    background:#fff1f2;

    color:#be123c;


    padding:12px;


    border-left:4px solid #e11d48;


    margin-bottom:20px;


    border-radius:6px;


    font-size:14px;


}



/* Responsivo */


@media(max-width:500px){

    .login-container{

        width:90%;

        padding:30px;

    }

}